<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>
<body>
  <table class="body">
    <tr>
      <!-- Header -->
      <td class="header theme-bg">
        <center>
          <table class="container">
            <tbody>
              <tr>
                <td>
                  <img src="https://sibac.info/image/mail/stud/head.jpg" alt="Научные публикации"/>
                </td>
              </tr>
            </tbody>
          </table>
        </center>
      </td> <!-- // Header -->
    </tr>

    <!-- Web link -->
    <tr>
      <td>
        <center>
          <container class="section bg-1">
            <row>
              <columns class="pb-0">
                <p class="web-link text-center">
                  Если данное  письмо отображается не корректно — воспользуйтесь
                  <a href="">веб-версией</a>
                </p>
              </columns>
            </row>
          </container>
        </center>
      </td>
    </tr><!-- // Web link -->


    <!-- Academic conferance -->
    <tr>
      <td>
        <center>
          <container class="section">
            <spacer size="14"></spacer>
            <row>
              <columns large="4">
                <a href="" class="small-text-center">
                  <div class="shadow">
                    <img src="https://sibac.info/sites/default/files/styles/teaser_term/public/conf/img/innovation-9%2885%29.png" alt="Имя Конференции">
                  </div>
                </a>
              </columns>
              <columns large="8">
                <p class="fz-13">Студенческая конференция</p>
                <p class="bold">Научное сообщество студентов XXI столетия</p>
                <h3 class="pink">Гуманитарные науки</h3>
                <p>Все статьи, принявшие участие, будут размещены на платформе eLIBRARY.ru.</p>
                <p class="fz-15"><span class="bold">Статьи принимаются: </span>до 18 января 2018 г.</p>
                <spacer size="40"></spacer>
                <p><a class="link" href="">Принять участие в конференции</a></p>
              </columns>
            </row>
          </container>
        </center>
      </td>
    </tr><!-- // Academic conferance -->

    <!-- Academic conferance 2 -->
    <tr>
      <td>
        <center>
          <container class="section">
            <spacer size="14"></spacer>
            <row>
              <columns large="4">
                <a href="" class="small-text-center">
                  <div class="shadow">
                    <img src="https://sibac.info/sites/default/files/styles/teaser_term/public/conf/img/science-14%2849%29.png" alt="Имя Конференции">
                  </div>
                </a>
              </columns>
              <columns large="8">
                <p class="fz-13">Студенческая конференция</p>
                <p class="bold">Научное сообщество студентов XXI столетия</p>
                <h3 class="oil">Гуманитарные науки</h3>
                <p>Все статьи, принявшие участие, будут размещены на платформе eLIBRARY.ru.</p>
                <p class="fz-15"><span class="bold">Статьи принимаются: </span>до 18 января 2018 г.</p>
                <spacer size="40"></spacer>
                <p><a class="link" href="">Принять участие в конференции</a></p>
              </columns>
            </row>
          </container>
        </center>
      </td>
    </tr><!-- // Academic conferance 2 -->

    <!-- Advantage -->
    <tr>
      <td>
        <container>
          <row>
            <columns>
              <h3 class="bold text-center m-0">Преимущества наших конференций</h3>
            </columns>
          </row>
        </container>
      </td>
    </tr>

    <tr>
      <td>
        <container>
          <row>

            <columns class="advantage" small="6" large="3">
              <container>
                <row>
                  <columns class="img pb-0" small="12" large="3">
                    <img class="small-float-center text" src="http://portfolio.10dev.ru/Sibak/newsletters/img/text.png" alt="please don't forget me">
                  </columns>

                  <columns small="12" large="9" class="pb-0">
                    <p class="small-text-center"><span>Бесплатная</span> <span>рецензия</span></p>
                  </columns>
                </row>
              </container>
            </columns>

            <columns class="advantage" small="6" large="3">
              <container>
                <row>
                  <columns class="img pb-0" small="12" large="3">
                    <img class="small-float-center favorites" src="http://portfolio.10dev.ru/Sibak/newsletters/img/favorites.png" alt="please don't forget me">
                  </columns>

                  <columns small="12" large="9" class="pb-0">
                    <p class="small-text-center pl-5"><span>Награждение</span> <span>дипломами</span> </p>
                  </columns>
                </row>
              </container>
            </columns>

            <columns class="advantage" small="6" large="3">
              <container>
                <row>
                  <columns class="img pb-0" small="12" large="3">
                    <img class="small-float-center certificate" src="http://portfolio.10dev.ru/Sibak/newsletters/img/certificate.png" alt="please don't forget me">
                  </columns>

                  <columns small="12" large="9" class="pb-0">
                    <p class="small-text-center pl-10"><span>Сертификаты</span> <span>участников</span> </p>
                  </columns>
                </row>
              </container>
            </columns>

            <columns class="advantage" small="6" large="3">
              <container>
                <row>
                  <columns class="img pb-0" small="12" large="3">
                    <img class="small-float-center book" src="http://portfolio.10dev.ru/Sibak/newsletters/img/book.png" alt="please don't forget me">
                  </columns>

                  <columns small="12" large="9" class="pb-0">
                    <p class="small-text-center"><span>Печатные</span> <span>сборники</span> </p>
                  </columns>
                </row>
              </container>
            </columns>
          </row>
        </container>
      </td>
    </tr>

    <!-- // Advantage -->

    <!-- Public -->
    <tr>
      <td>
        <container class="section public bg-2">
          <row>
            <td class="table-border">&nbsp;</td>

            <columns small="12" large="5">
              <spacer size="25"></spacer>
              <h3 class="theme bold">Публикация в журналах РИНЦ / ВАК</h3>
              <p>Издательство «СибАК» предоставляет услугу публикации научных статей в журналах РИНЦ / ВАК</p>
              <p class="italic"><span>Срок публикации</span> от одного дня</p>
            </columns>

            <td class="show-for-large">
              <spacer size="30"></spacer>
              <div class="br"></div>
            </td>

            <columns small="12" large="7">

              <spacer size="25"></spacer>

              <container>
                <row>
                  <columns small="12" large="12" class="pb-0">
                    <h3 class="text-center bold">Наше издательство:</h3>
                  </columns>
                </row>
              </container>

              <spacer size="15"></spacer>

              <container>
                <row>

                  <columns small="6" class="pb-0">
                    <container>
                      <row>
                        <columns class="img pb-0" small="12" large="2">
                          <img class="small-float-center secure" src="http://portfolio.10dev.ru/Sibak/newsletters/img/secure.png" alt="please don't forget me">
                        </columns>

                        <columns small="12" large="10" class="pb-0">
                          <p class="small-text-center pl-10">
                            <span>Гарантирует</span>
                            <span>публикацию</span>
                            <span>в РИНЦ | ВАК</span>
                          </p>
                        </columns>
                      </row>
                    </container>
                  </columns>

                  <columns small="6" class="pb-0">
                    <container>
                      <row>
                        <columns class="img pb-0" small="12" large="2">
                          <img class="small-float-center edit" src="http://portfolio.10dev.ru/Sibak/newsletters/img/edit.png" alt="please don't forget me">
                        </columns>

                        <columns small="12" large="10" class="pb-0">
                          <p class="small-text-center pl-10">
                            <span>Предоставляет</span>
                            <span>справку</span>
                            <span>о публикации</span>
                          </p>
                        </columns>
                      </row>
                    </container>
                  </columns>

                </row>
              </container>

              <spacer size="15"></spacer>

              <container>
                <row>

                  <columns small="6" class="pb-0">
                    <container>
                      <row>
                        <columns class="img pb-0" small="12" large="2">
                          <img class="small-float-center database" src="http://portfolio.10dev.ru/Sibak/newsletters/img/database.png" alt="please don't forget me">
                        </columns>

                        <columns small="12" large="10" class="pb-0">
                          <p class="small-text-center pl-10">
                            <span>Подбриает</span>
                            <span>оптимальный</span>
                            <span>журнал</span>
                          </p>
                        </columns>
                      </row>
                    </container>
                  </columns>

                  <columns small="6" class="pb-0">
                    <container>
                      <row>
                        <columns class="img pb-0" small="12" large="2">
                          <img class="small-float-center compose" src="http://portfolio.10dev.ru/Sibak/newsletters/img/compose.png" alt="please don't forget me">
                        </columns>

                        <columns small="12" large="10" class="pb-0">
                          <p class="small-text-center pl-10">
                            <span>Готовит статью</span>
                            <span>под требования</span>
                            <span>журнала</span>
                          </p>
                        </columns>
                      </row>
                    </container>
                  </columns>

                </row>
              </container>

            </columns>

            <td class="table-border">&nbsp;</td>

          </row>
        </container>

      </td>
    </tr><!-- // Public -->

    <!-- Public link -->
    <tr>
      <td>
        <container class="section public-link bg-2">
          <row>
            <td class="table-border">&nbsp;</td>
            <td class="text-center">
              <a href="" class="link">Условия публикации РИНЦ</a>
              <spacer size="15"></spacer>
            </td>
            <td class="table-border last">&nbsp;</td>
          </row>
        </container>
      </td>
    </tr><!-- // Public link -->

    <!-- Academic conferance 3 -->
    <tr>
      <td>
        <center>
          <container>
            <row>
              <columns class="pb-0">
                <spacer size="15"></spacer>
                <h3 class="text-center bold">Также предлагаем вам принять участие в журнале</h3>
              </columns>
            </row>
          </container>
          <container class="section">
            <spacer size="14"></spacer>
            <row>
              <columns large="4">
                <a href="" class="small-text-center">
                  <div class="shadow">
                    <img src="https://sibac.info/sites/default/files/styles/teaser_term/public/conf/img/student-18%2838%29.png" alt="Имя Конференции">
                  </div>
                </a>
              </columns>
              <columns large="8">
                <h3 class="bold">Международный научный журнал <br>«Студенческий»</h3>
                <p>Журналу присваиваются ISSN, УДК и ББК. Журнал выходит 2 раза в месяц. Статьи, опубликованные в журнале, размещаются на платформе eLIBRARY.RU </p>
                <p class="fz-15"><span class="bold">Статьи принимаются: </span>до 18 января 2018 г.</p>
                <spacer size="55"></spacer>
                <p><a class="link" href="">Опубликовать статью в журнале</a></p>
              </columns>
            </row>
          </container>
        </center>
      </td>
    </tr><!-- // Academic conferance 3 -->




    <!-- Bottom links -->
    <tr>
      <td>
        <center>
          <container class="theme-bg">
            <spacer size="10"></spacer>
            <row>
              <columns class="pb-0" small="12" large="3">
                <p class="top-link text-center">
                  <a href="">Наши авторы</a>
                </p>
              </columns>

              <columns class="pb-0" small="12" large="3">
                <p class="top-link text-center">
                  <a href="">Отзывы</a>
                </p>
              </columns>

              <columns class="pb-0" small="12" large="3">
                <p class="top-link text-center">
                  <a href="">Архив статей</a>
                </p>
              </columns>

            </row>
            <spacer size="10"></spacer>
          </container>
        </td>
      </tr><!-- // Bottom links -->

      <tr>
        <td>
          <container class="social bg-2">
            <row>
              <columns>
                <spacer size="10"></spacer>
                <p class="fz-17 text-center">Хотите <span class="fz-23 theme">&nbsp;5% скидку</span>?</p>
                <p class="text-center">Разместите ссылку на страницу
                  <a href="" class="link">конференции</a> или <a href="" class="link">журнала</a>
                </p>
                <p class="text-center mb-0">
                  в социальных сетях
                  <a href=""><img src="https://sibac.info/image/mail/stud/vk.jpg" alt="vk"></a>
                  или
                  <a href=""><img src="https://sibac.info/image/mail/stud/fb.jpg" alt="fb"></a>
                  </p>
              </columns>
            </row>
          </container>
        </td>
      </tr>

      <!-- Footer -->
      <tr>
        <td>
          <spacer size="5"></spacer>
          <container class="footer">
            <row>
              <columns large="9" class="pb-0">

                <p>Если письмо отображается не корректно — воспользуйтесь <a href="" class="link theme">веб-версией</a></p>
              </columns>
              <columns large="3" class="pb-0">
                <p class="text-right">
                  <a href="" class="link">Отписаться от рассылки</a>
                </p>

              </columns>
            </row>
          </container>
        </td>
      </tr><!-- // Footer -->
  </table>


</body>
</html>
